BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG CONFIGURATION=CFG JTAG_PORT=DISABLE MCCLK_FREQ=53.2 SLAVE_SPI_PORT=ENABLE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
USERCODE HEX "0" ; 
USE PRIMARY NET "clk" ;
IOBUF PORT "pwm_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nCS" IO_TYPE=LVCMOS33 ;
GSR_NET NET "rst_n";

