BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG CONFIGURATION=CFG JTAG_PORT=DISABLE MCCLK_FREQ=44.33 SLAVE_SPI_PORT=DISABLE MUX_CONFIGURATION_PORTS=DISABLE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
USERCODE BIN "0" ; 
USE PRIMARY NET "clk" ;
IOBUF PORT "pwm_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE ;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE ;
IOBUF PORT "nCS" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=LARGE ;
GSR_NET NET "rst_n";
FREQUENCY NET "clk" 44.330000 MHz ;
DEFINE PORT GROUP "pwm_out" "pwm_out[11]" 
"pwm_out[10]" 
"pwm_out[9]" 
"pwm_out[8]" 
"pwm_out[7]" 
"pwm_out[6]" 
"pwm_out[5]" 
"pwm_out[4]" 
"pwm_out[3]" 
"pwm_out[2]" 
"pwm_out[1]" 
"pwm_out[0]" ;
LOCATE COMP "pwm_out[0]" SITE "20" ;
LOCATE COMP "pwm_out[1]" SITE "21" ;
LOCATE COMP "pwm_out[2]" SITE "23" ;
LOCATE COMP "pwm_out[3]" SITE "27" ;
LOCATE COMP "pwm_out[4]" SITE "28" ;
LOCATE COMP "pwm_out[5]" SITE "32" ;
LOCATE COMP "pwm_out[6]" SITE "1" ;
LOCATE COMP "pwm_out[7]" SITE "4" ;
LOCATE COMP "pwm_out[8]" SITE "5" ;
LOCATE COMP "pwm_out[9]" SITE "8" ;
LOCATE COMP "pwm_out[10]" SITE "12" ;
LOCATE COMP "pwm_out[11]" SITE "13" ;
LOCATE COMP "MOSI" SITE "17" ;
LOCATE COMP "SCK" SITE "9" ;
LOCATE COMP "nCS" SITE "11" ;
## IOBUF GROUP "pwm_out" ;
